<!DOCTYPE html>
<html>
<head>
    <script src="Js/angular.min.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div ng-app="">
        <p>Enter Name :</p>
        <input type="text" ng-model="name"  />
        <p>Enter Age:</p>
        <input type="number" ng-model="age" />
        <p>Your Name is :</p> <span ng-bind="name"></span>
        <p>Your age is :</p> <span ng-bind="age"></span>
       <p> Pra Tag Example</p> <p>{{name}}</p>
    </div>
    
</body>
</html>