<!DOCTYPE html>
<html>
<head>
    <script src="../Js/angular.min.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body >
    <!--<div ng-app="" ng-controller="DemoController" ng-init="names=['Alpesh','Rahul','Pravin']">-->
        <div ng-app="DemoApp" ng-controller="DemoController" >

            <ul>
                <li ng-repeat="x in Topicname">
                    {{x.name}}
                </li>
            </ul>

        </div>
    <script>
        var app = angular.module('DemoApp', []);
        app.controller('DemoController', function ($scope) {

            $scope.Topicname = [
                { name: "This is Test1" },
                { name: "This is Test2" },
                { name: "This is Test3" },
            ]

        });
    </script>

</body>
</html>